
.training-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.training-image {
    max-height: 300px;
    object-fit: contain;
}

.fullStack {
    filter: drop-shadow(5px 5px 15px rgba(208, 141, 241, 0.9));
}

.embedded {
    filter: drop-shadow(5px 5px 15px rgba(244, 232, 165, 0.8));
}

.digitalMarketing {
    filter: drop-shadow(5px 5px 15px rgba(142, 225, 142, 0.8));
}