.robotics {
    font-family: "Cormorant", serif;
    width: 100%;
}

.robotics-heroSection {
    background-color: #a6cdc6;
    color: #16404d;
}

.robotics-heroSection img {
    min-height: 230px
}

.image-container {
    height: 200px;
    max-height: 230px
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.inquire-btn {
    background-color: #008000b3;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    display: box;
    box-orient: vertical;
    text-overflow: ellipsis
}